[program:nbviewer]
command=/usr/share/nbviewer/venv/bin/python -m nbviewer --port=8080 --processes=8 --mc_threads=4
numprocs=1
numprocs_start=0
process_name=%(program_name)s
autostart=true
autorestart=true
startsecs=1
startretries=3
exitcodes=0,2
stopsignal=QUIT
stopwaitsecs=10
user=nobody
directory=/usr/share/nbviewer
environment=HOME="/usr/share/nbviewer",USER="nobody",LANG="en_US.UTF-8",LANGUAGE="en_US.UTF-8",LC_ALL="en_US.UTF-8",PATH="/usr/share/nbviewer/venv/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games",VIRTUAL_ENV="/usr/share/nbviewer/venv",DATABASE_URL="sqlite:///:memory:",IPYTHONDIR="/tmp/ipython-garbage",MEMCACHE_SERVERS="127.0.0.1"{{ environment }}

redirect_stderr=true

stdout_logfile=/var/log/nbviewer
stdout_logfile_maxbytes=50MB
stdout_logfile_backups=10
stdout_capture_maxbytes=0
stdout_events_enabled=true

serverurl=AUTO
