#  /etc/rsyslog.conf	Configuration file for rsyslog.
#
#			For more information see
#			/usr/share/doc/rsyslog-doc/html/rsyslog_conf.html
#
#  Default logging rules can be found in /etc/rsyslog.d/50-default.conf

$Modload imfile

$InputFileName /var/log/nbviewer
$InputFileTag nbviewer
$InputFileStateFile nbviewer-file1
$InputFileSeverity info
$InputFileFacility local7
$InputRunFileMonitor

# Only entered once in case of following multiple files
$InputFilePollInterval 1

$InputFileName /var/log/supervisor/supervisord.log
$InputFileTag supervisor
$InputFileStateFile supervisor-file1
$InputFileSeverity info
$InputFileFacility local7
$InputRunFileMonitor

# Only entered once in case of following multiple files
$InputFilePollInterval 1

$template LogentriesFormat,"{{ logentries_token }} %HOSTNAME% %syslogtag%%msg%\n"

*.* @@api.logentries.com:10000;LogentriesFormat
